# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
#*

# exclude everything
secrets/*
keys/*
**/*.jpg
.vscode/.ropeproject

__pycache__/
*.py[cod]

# exception to the rule
!*/.gitkeep
!keys/*.sh
!keys/*.md
